.container {
    position: sticky;
    width: 100%;
    top: 64px;
}

.innerContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}